.vscode/settings.json
gfx/interface/government_mechanics/state_enlightenment/hanseatic_commercialism_frame.psd
events/ab_india_debug_events.txt
gfx/interface/government_reform_icons/GOV_REFORM_FRAME.psd
